.ads-card {
  background-color: #f4f8fa;
  padding: 14px;
  border-radius: 8px;
}

html[data-theme="dark"] .ads-card {
  background-color: #272829;
}

.wwads-cn,
.wwads {
  background-color: #f4f8fa;
}

.wwads-text {
  color: #0e1011;
}

html[data-theme="dark"] .wwads-cn,
html[data-theme="dark"] .wwads {
  background-color: #272829 !important;
}

html[data-theme="dark"] .wwads-text {
  color: #9e9e9e !important;
}
